body {
  background-color: #27253d;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: gainsboro;
}

.header {
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

.timer, .errors, .accuracy, .cpm, .wpm {
  background-color: #7da87b;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.cpm, .wpm  {
  /* background-color: #f4ff61; */
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time, .curr_errors, .curr_accuracy, .curr_cpm, .curr_wpm {
  font-size: 2.75rem;
}

.quote {
  background-color: #7da87b;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: black 5px 8px 5px;
}

.input_area {
  background-color: #f5f5c6;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: darkgreen;
}

.restart_btn {
  display: none;
  background-color: #326765;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}